body {
  margin: 0px;
}

ul {
  list-style: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  margin: 0px;
  padding: 10px;
  background-color: rgb(226, 241, 169);
  border-bottom: 1px solid gray;
  box-shadow: 1px 1px gray;
}

.navbar > li {
  display: flex;
  align-items: center;
}

.logo {
  height: 60px;
}

.button {
  border: 0px;
  padding: 5px 10px;
  border-radius: 10px;
  font-weight: bolder;
}

.mainbutton {
  background-color: rgb(41, 41, 243);
  color: white;
}

.mainbutton:hover {
  box-shadow: 1px 1px blue;
}

.button:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.secondarybutton {
  background-color: rgb(101, 101, 216);
  color: white;
}

.secondarybutton:hover {
  box-shadow: 1px 1px rgb(53, 53, 206);
}

.buscar {
  background-color: white;
  border: 1px solid gray;
  padding: 4px;
  border-radius: 8px;
  width: 300px;
  display: flex;
  justify-content: space-between;
}

.buscar:focus-within {
  border: 1px solid red;
}

.buscar > input {
  outline: none;
  border: 0px;
}

.iconoBusqueda:hover {
  color: blue;
}

.contenedorImagen{
  width: 240px;
  height: 300px;
  display: flex;
}
.breedcardcontainer{
  display: flex;
}

.breedCard{
  margin: 10px;
}

.contenedorImagen > img{
  object-fit: cover;
  width: 100%;
}
