body {
  margin: 0px;
}

ul {
  list-style: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  margin: 0px;
  padding: 10px;
}

.button {
  color: white;
  border: 0px;
  padding: 5px 10px;
  border-radius: 10px;
  font-weight: bolder;
}
.mainbutton {
  background-color: rgb(41, 41, 243);
}

.mainbutton:hover {
  box-shadow: 1px 1px blue;
}

.button:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.secondarybutton {
  background-color: rgb(101, 101, 216);
}

.secondarybutton:hover{
    box-shadow: 1px 1px rgb(53, 53, 206);
}